@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lobster|Zhi+Mang+Xing&display=swap');

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #17252a;
}

#app {
  font-family: "Roboto Condensed", sans-serif;
  color: #17252a;
}

.b-navbar-brand {
    letter-spacing: 2.3px;
    font-family: "Open Sans", sans-serif;
    font-size: x-large;
  }

  .b-nav-item{
    font-family: "Open Sans", sans-serif;
    color: ivory;
  }

  .b-nav-item-dropdown{
    font-family: "Open Sans", sans-serif;
    color: ivory;
  }
  
  
.b-card-image-eco {
  width: 50%;
  float: left;
  margin-right: 100%;
  margin-bottom: 20px;
  max-width: 200px;
}

.b-button-in-card-login{
  width: 80px;
  margin: 4px;
  padding: 10px;
  position: relative;
}
.b-button-in-card-info{
  width: 80px;
  padding: 6px;
  margin:10px;
  position: relative;
}
.b-button-in-card-sign-up{
  width: 80px;
   margin: 4px;
   padding: 10px;
  position: relative;
}
.b-card-image-welcome{
  max-width: 300px;
  position: relative;
}

.text-about-eco {
  text-align: left;
  max-width: 400px;
  position: relative;
}

.b-card-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
  margin-top: 60px;
  max-height: 70%;
  min-height: 40%;
  max-width: 600px;
}