@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lobster|Zhi+Mang+Xing&display=swap');

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #17252a;
}

#app {
  font-family: "Roboto Condensed", sans-serif;
  color: #17252a;
}

.b-navbar-brand {
    letter-spacing: 2.3px;
    font-family: "Open Sans", sans-serif;
    font-size: x-large;
  }

  .b-nav-item{
    font-family: "Open Sans", sans-serif;
    color: ivory;
  }

  .b-nav-item-dropdown{
    font-family: "Open Sans", sans-serif;
    color: ivory;
  }
  
  .b-card-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    margin-top: 60px;
    max-width: 500px !important;
    background: rgb(252,74,26);
background: linear-gradient(180deg, rgba(252,74,26,1) 25%, rgba(254,254,254,1) 25%, rgba(254,254,254,1) 98%, rgba(252,74,26,1) 98%);
  }